* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 900px;
            margin: auto;
            padding: 2rem;
            color: #333;
        }

        nav {
            margin-bottom: 2rem;
        }

        nav a {
            margin-right: 1rem;
            text-decoration: none;
            color: #0066cc;
        }

        section {
            margin-bottom: 1.5rem;
        }

        /* h1, h2 {
            margin-bottom: 0rem;
        } */

        .project {
            border: 1px solid #ddd;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 8px;
        }

        footer {
            margin-top: 3rem;
            text-align: center;
            color: #777;
            font-size: 0.9rem;
        }
        a {
            color: #333;
            text-decoration-line: none;
        }